.home_container {
  display: flex;
  padding: 0.5rem;
  column-gap: 0.5rem;
}

.home_container button {
  background-color: var(--home-buttons-color);
  color: wheat;
  font-weight: normal;
}

.home_profile {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 1rem 1rem 0 0;
}

.home_container-right {
  row-gap: 2rem;
}

.home_container-right-top {
  display: flex;
  column-gap: 10px;
}

.update-status__container {
  justify-content: center;
  row-gap: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}
.update-status__input {
  background-color: #eef5f3;
  height: 2rem;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
}
.update-status__btn {
  height: 2rem;
  background-color: var(--home-buttons-color);
  border: none;
  border-radius: 10px;
}

.quote-text {
  color: var(--home-buttons-color);
  font-weight: bold;
}

.add-post-container {
  background-color: white;
  width: 70%;
  row-gap: 1rem;
  padding: 0.5rem;
  column-gap: 0.5rem;
  border-radius: 1rem;
}

.add-post__content {
  display: flex;
  height: 70%;
  column-gap: 0.5rem;
}

.add-post__text-input {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
}

.add-post__buttons {
  display: flex;
  height: 20%;
  column-gap: 0.5rem;
}

.add-post__buttons button {
  width: 50%;
  border-radius: 0.5rem;
}

.quote-layout {
  text-align: center;
  padding: 5px;
  width: 30%;
  background-color: white;
  border-radius: 0.5rem;
}

.home_container-right-bottom {
  row-gap: 2rem;
}

.search-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 2rem;
}

.search-field {
  width: 100%;
  height: 3rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
}

.posts-container {
  background-color: white;
  row-gap: 1rem;
  background-color: #f0f5f4;
}

.post-item {
  row-gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
}

.post-features-container {
  display: flex;
  justify-content: space-between;
}

.post-header {
  display: flex;
  column-gap: 1rem;
}
.post-header-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid black;
  padding: 0.5rem;
}

.post-header-details {
  flex-grow: 1;
}

.post-header button {
  padding: 0.25rem;
  background: none;
  color: black;
  border: none;
  padding: 0rem 1rem;
  border-radius: 1rem;
  font-weight: bolder;
}

.post-dialog-layout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.post-options-dialog {
  position: relative;
  background-color: white;
  width: 40vw;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 1000;
}

.dialog-input__field,
.dialog-input__field > input {
  width: 100%;
}

.dialog-input__field > input {
  height: 4rem;
  border-radius: 1rem;
}

.dialog-image__layout {
  width: 100%;
  aspect-ratio: 1/1;
}

.dialog-image__layout > img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.dialog-btn__layout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

.dialog-btn__layout button {
  border-radius: 5px;
  padding: 0.25rem;
}

.comments-container,
.options-container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 1rem;
}

.comments-list {
  border: 1px solid black;
  padding: 0.5rem;
  row-gap: 2px;
}

.add-comment-layout {
  border: 1px solid black;
  background-color: #f0f5f4;
  border-radius: 1rem;
  width: 100%;
  display: flex;
}

.add-comment__input {
  border: none;
  background-color: #f0f5f4;
  flex-grow: 1;
  border-radius: 1rem 0 0 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.post-comment__btn {
  padding: 0 1rem;
  border-radius: 0 1rem 1rem 0;
  font-weight: bold;
}

.comment-item-container {
  display: flex;
  column-gap: 0.5rem;
}

.comment-item__img-container {
  display: flex;
  align-items: center;
}

.comment-item__img {
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid black;
}

.comment-item__author {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.add-friend-layout {
  background-color: white;
  border-top: 1px solid black;
  padding: 0.5rem;
  row-gap: 1rem;
}

.friend-search-container {
  row-gap: 0.5rem;
  margin-top: 1rem;
}

.friend-search__input {
  border-radius: 1rem;
  padding: 0.5rem;
}
.friend-search__button {
  width: 100%;
  border-radius: 1rem;
}

.friend-list-item {
  display: flex;
  column-gap: 0.25rem;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
}

.follower-button__remove {
  border-radius: 1rem;
  font-size: 0.75rem;
}

.follower-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
}

.home__profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 1rem;
}

.add-post__image-btn {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
}
