@import "./styles/styles.css";

:root {
  --primary-color: #28b498;
  --home-buttons-color: hsl(165, 26%, 15%);
}

#root {
  height: 100%;
  background-color: #f0f5f4;
}

.apptitle {
  background-color: #4daa49;
  text-align: center;
  margin-top: 0;
  height: 36px;
}

.apptitle h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
}

button {
  font-weight: bold;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
