.title_container{
    display: flex;
    background-color: hsl(165, 26%, 15%);
    height: 3rem;
    color: wheat;
<<<<<<< Updated upstream
=======
    font-size: large;
>>>>>>> Stashed changes
}


.title_container__left{
    flex-grow: 1;
    column-gap: 10px;
}

.title_container__center{
    flex-grow: 2;
}

.title_container__right{
    flex-grow: 1;
<<<<<<< Updated upstream
=======
    column-gap: 10px;
>>>>>>> Stashed changes
}

.titlebar_item {
    cursor: pointer;
}